{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>

        {% for listing in listings %}
        
            <a href= "/listings/{{listing.title}}"> {{listing.title}} </a>

            <li>
                <h6> {{listing.description}} </h6>
            </li>

            <h5> ${{listing.starting_bid}} </h5>

            {% if listing.image %}
            <div>
                <img src={{listing.image}} width = "25%">
            </div>
            <br><br>
            {% endif %}
        </li>
        {% endfor %}

    </ul>

{% endblock %}